* {
  margin: 0;
  padding: 0;
}
html {
  width: 105w;
  overflow-x: hidden;
}
/*************
  * Light Mode *
  **************/
body {
  text-align: left;
  --primary: 98, 0, 238;
  --primary-variant: 55, 0, 179;
  --secondary: 3, 218, 198;
  --secondary-variant: 1, 135, 134;
  --error-msg: 176, 0, 32;
  --bg-color: 255, 255, 255;
  --fg-color: 0, 0, 0;
  --drop-shadow: 2px 2px 1px rgba(var(--fg-color), 0.1),
    4px 4px 2px rgba(var(--fg-color), 0.15),
    8px 8px 4px rgba(var(--fg-color), 0.2),
    16px 16px 8px rgba(var(--fg-color), 0.25),
    32px 32px 16px rgba(var(--fg-color), 0.3);
  --primary-background-gradient: linear-gradient(
    45deg,
    rgba(var(--primary), 1) 0%,
    rgba(var(--primary-variant), 1) 40%,
    rgba(var(--primary-variant), 1) 60%,
    rgba(var(--primary), 1) 100%
  );
  --secondary-background-gradient: linear-gradient(
    0deg,
    rgba(var(--secondary-variant), 1) 11%,
    rgba(var(--secondary-variant), 0.9) 33%,
    rgba(var(--secondary), 1) 77%,
    rgba(var(--secondary), 1) 99%
  );
  --primary-border: rgba(var(--primary), 1);
  --secondary-border: 4px outset rgba(var(--secondary), 1);
  --border-radius: 4vh;
  background-color: rgba(var(--bg-color), 1);
  color: rgba(var(--fg-color), 1);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font: 12px system-ui;
  background-image: var(--secondary-background-gradient);
}
body .shape {
  fill: url(#dawn-operation);
  stroke: url(#dawn-operation);
}
hr {
  border-top: 1px ridge rgba(var(--primary), 1);
  border-radius: 0 50px;
  height: 0px;
  outline-style: inset;
  outline-width: 7px;
  outline-color: rgba(var(--primary-variant), 1);
  outline-offset: 0;
  filter: blur(3px);
  transform: scale(70, 0.3);
  margin: 2vh 50%;
}
/************* 
   * Dark Mode *
   *************/
body.dark-mode {
  /* colors for dark mode(to be inverted) */
  --primary: 187, 134, 252;
  --primary-variant: 55, 0, 179;
  --secondary: 3, 216, 195;
  --secondary-variant: 3, 218, 198;
  --error-msg: 207, 153, 121;
  --bg-color: 18, 18, 18;
  --fg-color: 0, 0, 0;
  background-color: rgba(18, 18, 18, 1);
  color: rgba(var(--fg-color), 1);
  --drop-shadow: 1px 1px 2px rgba(var(--fg-color), 0.2),
    2px 2px 4px rgba(var(--fg-color), 0.4),
    3px 3px 6px rgba(var(--fg-color), 0.6);
  --primary-background-gradient: linear-gradient(
    135deg,
    rgba(var(--primary), 1) 0%,
    rgba(var(--primary-variant), 1) 40%,
    rgba(var(--primary-variant), 1) 60%,
    rgba(var(--primary), 1) 100%
  );
  --secondary-background-gradient: linear-gradient(
    135deg,
    rgba(var(--secondary), 1) 0%,
    rgba(var(--secondary-variant), 1) 40%,
    rgba(var(--secondary-variant), 1) 60%,
    rgba(var(--secondary) 100%),
    1
  );
  background-image: var(--secondary-background-gradient);
  --primary-border: rgba(var(--primary), 1);
  --secondary-border: rgba(var(--secondary), 1);
  filter: invert();
}
body.dark-mode .shape {
  fill: url(#wedding-song);
  stroke: url(#fear-of-swedish);
  /*filter:invert();*/
}
ul {
  font-size: 1.8vw;
  padding: 2vw;
}
.icon {
  margin: auto;
  width: 10vw;
  height: 10vw;
  transition: 800ms;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
  z-index: 0;
}
.icon:hover {
  transform: scale(4, 4);
  transition: 600ms;
  z-index: 10;
}
header {
  position: relative;
  padding-left: 5vw;
  width: 110vw;
  left: -5vw;
  box-shadow: var(--drop-shadow);
  color: whitesmoke;
  background-image: var(--primary-background-gradient);
}
header h1 {
  margin: 1vw;
  font-size: 4vw;
}
#dark-light-toggle {
  margin: 0 5vw;
}
#dark-light-toggle:hover {
  transform: scale(1, 1.02);
}
main {
  width: 100vw;
  border: var(--primary-border);
  background-image: var(--primary-background-gradient);
  box-shadow: var(--drop-shadow);
}
table {
  width: 100%;
}
td {
  padding: 2vw;
}
.container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  /*grid-gap: 0rem;*/
}
.container > div {
  padding: 3vw;
  margin: 0vw;
}
footer {
  font-size: 1.8vw;
  color: rgba(var(--color), 1);
  margin: 4vw;
  padding: 2vw;
  float: right;
  border: var(--primary-border);
  border-radius: var(--border-radius);
  background-image: var(--primary-background-gradient);
  box-shadow: var(--drop-shadow);
}
button {
  width: 10vw;
  position: relative;
  border-radius: var(--border-radius);
  background: transparent;
  padding: 0;
  cursor: pointer;
  transition: filter 150ms;
}
.button-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  background: hsl(0deg 0% 0% / 0.4);
  will-change: transform;
  transform: translateY(2px) translateX(2px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.button-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  background-image: var(--primary-background-gradient);
}
.button-front {
  display: block;
  position: relative;
  padding: 1rem;
  border: 6px outset var(--primary-border);
  border-radius: var(--border-radius);
  font-size: 2vw;
  text-align: center;
  text-decoration: none;
  color: white;
  background-image: var(--primary-background-gradient);
  will-change: transform;
  transform: translateY(-2px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
button:hover .button-front {
  transform: translateY(-5px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
button:active .button-front {
  transform: translateY(-3px);
  transition: transform 250ms;
}
button:hover .button-shadow {
  filter: blur(0px);
  transform: translateY(4px) translateX(4px) scale(1, 1.02);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
button:active .button-shadow {
  transform: translateY(3px) translateX(3px) scale(1, 1.02);
  transition: transform 30ms;
}
button:focus:not(:focus-visible) {
  outline: none;
}
